---
// Components
import FlexRow from "../container/flex/FlexRow.astro";
import Container from "../container/Container.astro";
import FlexColumn from "../container/flex/FlexColumn.astro";
import CircularIcon from "../icon/CircularIcon.astro";
// Icons
import gitHubIconSrc from "../../assets/logos/github-mark/github-mark-white.svg";
import linkedInIconSrc from "../../assets/logos/linkedin_icon_circle.svg";
import envelopeIconSrc from "../../assets/images/envelope_icon_circle.svg";

interface Props {
  name: string;
  role: string;
  description: string;
}

const { name, role, description } = Astro.props;
---

<Container as="header" maxWidth="extralarge" class="header__container">
  <FlexRow centered class="gap-12">
    <CircularIcon icon={gitHubIconSrc} iconAlt="GitHub circular SVG logo" />
    <CircularIcon icon={linkedInIconSrc} iconAlt="LinkedIn circular SVG logo" />
    <CircularIcon
      icon={envelopeIconSrc}
      iconAlt="Envelope circular SVG icon for email"
    />
  </FlexRow>
  <FlexColumn centered class="gap-2">
    <h1 class="text-7xl font-semibold text-center">{name}</h1>
    <p class="text-4xl text-center">{role}</p>
    <em class="text-xl font-light">{description}</em>
  </FlexColumn>
</Container>

<style is:global>
  .header__container {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background:
      url("/src/assets/images/man-developing-website-on-desk.svg") -130px bottom
        no-repeat,
      linear-gradient(273deg, #512da8 35.44%, #673ab7 66.64%, #7e57c2 86.4%);
    background-size: contain;
    color: #ffffff;
  }

  @media screen and (width < 1500px) {
    .header__container {
      text-shadow: 1px 1px 5px #000;
    }
  }

  @media screen and (width < 1100px) {
    .header__container {
      background-size: 300px, cover;
      background-position:
        -90px bottom,
        center center;
    }
  }
</style>
